apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: strapi
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ajjimenezm/strapi-deploy.git  # Replace with your Git repo URL
    targetRevision: HEAD
    path: argocd/strapi                    # Path to the directory with Strapi manifests in your Git repo
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: strapi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - Validate=true

---

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ajjimenezm/strapi-deploy.git
    targetRevision: HEAD
    path: argocd/grafana
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - Validate=true
