persistence:
  enabled: true
  size: 10Gi

adminUser: admin
adminPassword: grafana123

service:
  type: LoadBalancer

testFramework:
  enabled: false

serviceMonitor:
  enabled: true
  namespace: monitoring
  interval: 30s 
